 
		.navcss ul .javaactive{
					font-size: 18px;font-family: sans-serif;
					text-decoration-line: none;
					color: white;
					margin-left: 20px;
					border: 2px solid #18d5bb;
					background: #18d5bb;
					border-radius: 0px;
					padding: 5px;
		}