.pythonbox{
	font-size: 20px;
	color: white;
}
.navcss ul .PYTHONactive{
					font-size: 18px;font-family: sans-serif;
					text-decoration-line: none;
					color: white;
					margin-left: 20px;
					border: 2px solid #18d5bb;
					background: #18d5bb;
					border-radius: 0px;
					padding: 5px;
		}
.indent{padding-left: 0px;font-size: 18px;}
.gray{color:gray;font-size: 18px;}
.indent{padding-left: 0px;font-size: 18px;}
.skyblue{color: skyblue;
font-size: 18px;}

@media(max-width: 500px){
	.pythonbox{
		font-size: 17px;

		font-family: serif;
	}
}