
.fa-bars{
	margin-top: 5px;
	margin-left: 40px;
	font-size: 20px;
	visibility: hidden;
	color: white;
	position: absolute;
}
.fa-home{
	color: white;
	float: left;
	font-size: 25px;
	margin-top: 5px;
	margin-right: 40px;
	visibility: hidden;
	padding-left: 20%;
}
.navcss{
	height: 40px;
	width: auto;
	position: sticky;
	z-index: 5;
	top: 0px;
	background: #212529;
}
.navcss ul{
	float: right;
	margin-right: 45px;
	display: inline-block;
	padding-top: 8px;
}
.navcss ul a{
	font-size: 18px;font-family:  sans-serif;
	text-decoration-line: none;
	color: white;
	margin-left: 20px;
	border: 2px solid ;
	border-color: #212529;
	border-radius: 20px;
	padding: 5px;
}.navcss ul .active{
	font-size: 18px;
	font-family: sans-serif;
	text-decoration-line: none;
	color: white;
	margin-left: 20px;
	border: 2px solid #18d5bb;
	background: #18d5bb;
	border-radius: 0px;
	padding: 5px;
}.navcss ul a:hover{
	font-size: 18px;font-family: sans-serif;
	text-decoration-line: none;
	color: white;
	margin-left: 20px;
	border: 2px solid gray;
	background: gray;
	border-radius: 0px;
	padding: 5px;
}

@media(max-width: 1100px){

	.fa-bars{
	margin-top: 5px;
	margin-left: 40px;
	font-size: 20px;
	visibility: visible;
	z-index: 1;
	color: white;
	position: absolute;
	}.fa-bars:hover{
	margin-top: 5px;
	margin-left: 40px;
	font-size: 30px;
	visibility: visible;
	color: gray;
	position: absolute;
	}
	.fa-home{
		z-index: 2;
	color: white;
	float: right;
	font-size: 25px;
	margin-top: 5px;
	margin-right: 40px;
	visibility: visible;
} 
.fa-home:hover{
	color: gray;
	float: right;
	font-size: 25px;
	margin-top: 5px;
	margin-right: 40px;
	visibility: visible;
}
	.navcss .ulcss{
		margin-top: 40px;
		margin-left: 300px;
		height: 500px;
		width: 200px;
		overflow: auto;
		display: none;
		background: black;
		position: absolute;

	}
	.navcss ul a{
		text-align: center;
		display: block;
	}
}
 
@media(max-width: 500px){ 
 	.navcss .ulcss{
		margin-top: 40px;
		margin-left: 0;
		height: 500px;
		width: 100%;
		overflow: auto;
		display: none;
		background: black;
		position: absolute;
	}
	
.fa-bars{
	margin-top: 5px;
	margin-left: 40px;
	font-size: 20px;
	visibility: visible;
	color: white;
	position: absolute;
}
.fa-home{
	color: white;
	float: right;
	font-size: 25px;
	margin-top: 5px;
	margin-right: 40px;
	visibility: visible;
}
}